@model Category

<h1>Create category</h1>

<form method="post" asp-controller="Category" asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="m-1">Name</label>
        <input asp-for="Name" class="form-control m-1" placeholder="Enter name">
        <span style="margin-left: 12px;" asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary m-2">Submit</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary m-2">Back</a>
</form>